{% load socialaccount %}

<!DOCTYPE html>
<html>
<head>
  <title>끼리끼니 테스트용 페이지</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    {% if user.is_authenticated %}
      <div>{{user.username}}으로 로그인 되었습니다</div>
    {% else %}
      <div><a href="{% provider_login_url 'facebook' method='oauth2' %}">페이스북 로그인</a></div>
      <div><a href="{% provider_login_url 'kakao' method='oauth2' %}">카카오 로그인</a></div>
    {% endif %}
</div>
</body>
</html>