{% load socialaccount %}

<!DOCTYPE html>
<html>
<head>
  <title>끼리끼니 테스트용 페이지</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    {% if user.is_authenticated %}
      <div>{{user.email}}으로 로그인 되었습니다</div>
    {% else %}
      <!-- <div><a href="{% provider_login_url 'facebook' %}">페이스북 로그인</a></div>
      <div><a href="{% provider_login_url 'kakao' %}">카카오 로그인</a></div> -->

      <div><a href="https://kauth.kakao.com/oauth/authorize?client_id=58e2b8578c74a7039a08d2b7455012a1&redirect_uri=http://localhost:8000/kakao_login&response_type=code">카카오 테스트</a></div>
      <div><a href="https://www.facebook.com/v5.0/dialog/oauth?client_id=650104882182241&scope=email&redirect_uri=https://127.0.0.1:8000/facebook_login&state='{st=state123abc,ds=123456789}'">페이스북 테스트</a></div>
    {% endif %}
</div>
</body>
</html>